/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    // ======================== Home page ========================
    .bottom-card-wrapper .card-titles-bottom .card-bottom-right{
        margin-left: 0;
    }
    #authentication-form-wrapper{
        width: 100%;
    }
    .auth-form-right{
        display: none;
    }
    .ease-logo {
        justify-content: flex-start  !important;
        height: 10%  !important;
    }
    .subscription-form{
        right: 0 !important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* your styles */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* your styles */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* your styles */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* your styles */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* your styles */
}