#login-form-wrapper {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.auth-form-right {
    background: linear-gradient(to right, #fff, #ABDBFF);
    position: relative;
}
.auth-form-right img{
    position: absolute;
    right: 10%;
    top: 5%;
}

#authentication-form-wrapper {
    height: calc(100vh - 30%);
    width: calc(100% - 60%);
}

.authentication-heading {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700 !important;
    letter-spacing: 0%;
    color: #6FB7ED;
}
.authentication-form{

}
.authentication-form-conditional-saperators{
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100%;
    background-color: #11111333;
    position: relative;
}
.authentication-form-conditional-saperators span{
    background-color: white;
    position: absolute;
    top: -15px;
    padding: 3px;
}
.auth-btn{
    width: 100%;
    height: 48px;
}
.login-google{
    background-color: #FE7D7DA3  !important;
}
.login-apple{
    background-color: #C3C3BFA8  !important;
}
.auth-submit-btn{
    background-color: #ABDBFF !important;
    border-radius: 100px !important;
    border: none !important;
    font-weight: 300 !important;
}
.authentication-foirm-bottom a{
    text-decoration: none  !important;
    font-weight: 700;
    color: #ABDBFF !important;
}
.conditional-btn{
    border: none;
    background: #fff;
    color:#ABDBFF ;
}
.navPanel{
    position: relative;
}

.userProfileBubble{
    position: absolute;
    height: 42px;
    width: 42px;
    background-color: #ffffff;
    right: 10%;
    top: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
    border: 4px solid #ABDBFF;
}
.userProfileBubble button{
    border: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);

}

.navBubbleDropdownOptions{
    position: absolute;
    right: 7%;
    top: 100%;
    height: 125px;
    width: 125px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 4px  2px #ccc;
    padding: 25px 0px;
    transition: 3s all ease-in-out;
}
.navBubbleDropdownOptions ul{
    list-style-type: none;
}