@font-face {
  font-family: 'Adam';
  src: url('./assets/fonts/adam/Adam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Adam', sans-serif !important;

}